<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvu_SNACvTs3ORMMbQ_tJqVkeGIkoNSG4</string>
	<key>GCM_SENDER_ID</key>
	<string>840323369559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moga.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mogha-266d4</string>
	<key>STORAGE_BUCKET</key>
	<string>mogha-266d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840323369559:ios:f2aff49a8ce8c8fd663112</string>
</dict>
</plist>